
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
}

.navbar {
    margin-bottom: 20px;
}

span {
    font-family: 'Source Code Pro', monospace;
}

.blue {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.red {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    color: white;
    border: none;
    background-color: red;
    border-radius: 10px;
    font-size: 20px;
}

.indigo {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 40px;
    background-color: indigo;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.yellow {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 40px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.grey {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 60px;
    background: rgb(136,135,152);
    background: linear-gradient(90deg, rgba(136,135,152,1) 0%, rgba(136,135,152,1) 0%);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.default {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 90px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    font-size: 20px;
}

.other {
    font-family: 'Source Code Pro', monospace;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 90px;
    background-color: black;
    border-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    font-size: 20px;
}

.link {
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: white;
}